body{
  background: lightslategray;
}
.timercard{
  margin-top: 20px;
  text-align: center;
  padding: 20px 5px;
  width: 120px;
  background: #DBDBDB 0% 0% no-repeat padding-box;
  border: 1px solid #C7C7C7;
  border-radius: 15px;
  opacity: 1;
  margin-left: 50%;
  transform: translateX(-50%);
}
.timerText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 8px;
  color: #FFFFFF;
  opacity: 1;
}
.textbox{
  background: white;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  height: 300px;
  padding: 10px;
  text-align: center;
}
.text{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(22, 22, 22);
  opacity: 1;
}

.typingInput{
  text-align: center;
  width: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 16px;
  border: none;
  padding: 10px 0;
}