body{
  background: #FAFAFA;
}
.timercard{
  margin-top: 20px;
  text-align: center;
  padding: 20px 5px;
  width: 120px;
  background: #DBDBDB 0% 0% no-repeat padding-box;
  border: 1px solid #C7C7C7;
  border-radius: 15px;
  opacity: 1;
  margin-left: 50%;
  transform: translateX(-50%);
}
.timerText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 8px;
  color: #FFFFFF;
  opacity: 1;
}
